<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel='stylesheet' href='../static/style.css'/>
    <link rel="manifest" href="../static/manifest.json"/>

    <script src='../static/client.js'></script>
    <script src='../static/sw.js'></script>
    <script src='../static/prompt.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Clasifica SuperHeroes Marvel</div>
        <p>
            Usa imágenes de <strong>Iron Man</strong>, <strong>Capitán América</strong>, <strong>Thanos</strong>.
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Selecciona la Imágen</button>
            <div class='upload-label'>
                <label id='upload-label'>No se ha seleccionado ningún archivo</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analizar</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
<script>
navigator.serviceWorker && navigator.serviceWorker.register('../static/sw.js').then(function(registration) {
  console.log('Excellent, registered with scope: ', registration.scope);
});
</script>
</body>
</html>
